<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'experiment.css' %}">

    <title>{{ end_experiment_header }}</title>
</head>
<body>
    <div class="experiment-wrapper">
        <div class="experiment-container">
            <h1 class="ui dividing header">{{ end_experiment_header }}</h1>
            <h3 class="ui header">{{ end_experiment_message }}</h3>
        </div>
    </div>
</body>
</html>
