<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'experiment.css' %}">

    <title> End of Experiment</title>
    <style>
        .flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* Optional: Anpassung der Höhe */
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="experiment-wrapper">
        <div class="experiment-container">
            <h1 class="ui dividing header">{{ end_experiment_header }}</h1>
            <h3 class="ui header">{{ end_experiment_message }}</h3>

            {% if not user.is_authenticated %}
                <div class="ui positive message">
                    <p>Successfully logged out, die Seite kann nun geschlossen werden.</p>
                </div>
            {% else %}
                <div class="flex-center">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="ui button red">Log Out</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
