<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'experiment.css' %}">
    <title>Willkommen zur Studie</title>
</head>
<body>
    <div class="experiment-wrapper">
        <div class="experiment-container start-container">
            <h1 class="ui dividing header start-header">Willkommen zur Studie</h1>
            <p class="description start-description">Bitte wählen Sie eine der folgenden Optionen:</p>
            <div class="ui vertical buttons start-buttons">
                <a href="{% url 'questions:participant_info' %}" class="ui primary huge button start-button">
                    Ich nehme das erste Mal an dieser Studie teil
                </a>
                <a href="{% url 'questions:custom_login_view' %}" class="ui button">Ich habe bereits einen Account</a>
                    Ich habe bereits einen Account
                </a>
            </div>
        </div>
    </div>
</body>
</html>
