{% extends 'base.html' %}
{% load i18n %}
{% load static %}  <!-- Hinzufügen des static Tags -->
{% block title %}
my profile
{% endblock title %}

{% block content %}
<!-- MODAL -->
<div class="ui modal mymodal">
    <i class="close icon"></i>
    <div class="header">
        {% trans 'profile-update-title' %}
    </div>
    <div class="image content">
        <div class="ui small image">
            {% if profile.avatar and profile.avatar.url %}
                <img src="{{ profile.avatar.url }}" alt="Profilbild">
            {% else %}
                <img src="{{ MEDIA_URL }}avatar_default.png" alt="Default Profilbild">
            {% endif %}
        </div>
        <div class="description">
            <div class="ui header">{% trans 'profile-update-dialog-title' %}</div>
        <form id="profile-update-form" action="" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.avatar.label_tag }}<br>
            {{ form.avatar }}<br><br>
            {{ form.bio.label_tag }}<br>
            {{ form.bio }}<br>
            <button type="submit" class="ui positive button">Profil aktualisieren</button>
        </form>

        </div>
    </div>
</div>

<!-- MAIN PROFILE SECTION -->
<div class="ui segment">
    {% if confirm %}
        <div class="ui green message">{% trans 'profile-updated' %}</div>
    {% endif %}
    <h3>{% trans 'my-profile' %} {{ request.user }}</h3>
    <div class="ui grid">
        <div class="row">
            <div class="six wide column">
                {% if profile.avatar and profile.avatar.url %}
                    <img class="ui small rounded image" src="{{ profile.avatar.url }}" alt="Profilbild">
                {% else %}
                    <img class="ui small rounded image" src="{% static 'avatar_default.png' %}" alt="Default Profilbild">
                {% endif %}
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>{% trans 'username' %}</td>
                            <td>{{ profile.user.username }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'my-profile-biography' %}</td>
                            <td>{{ profile.bio }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mt-5">
                    <button class="ui secondary button" id="modal-btn">{% trans 'myprofile-view-update-button' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COMMENTS SECTION -->
<div class="ui segment">
    <h3>Verfasste Kommentare</h3>
    {% if comments %}
        <div class="ui feed">
            {% for comment in comments %}
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <strong>{{ comment.title }}</strong>
                            <div class="date">
                                {{ comment.created|date:"d.m.Y H:i" }}
                            </div>
                        </div>
                        <div class="extra text">
                            {{ comment.content }}
                        </div>
                        <div class="meta">
                            <a href="{{ comment.get_absolute_url }}" class="ui button">
                                {% trans 'Zum Kommentar' %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui message">
            {% trans 'no-comments-message' %}
        </div>
    {% endif %}
</div>
{% endblock content %}
