.idea/
.venv/
backups/
data/
data-220909/
data-planned-reactions-present/
fakebook.iml
__pycache__/

setup-script/.ipynb_checkpoints
setup-script/.venv
setup-script/Bilder
setup-script/VPs.xlsx

src/templates/**/*.html.py
src/templates/**/*.txt.py
static_cdn/static_root/admin/**/*.txt.py

# collected static files (automatically copied on docker build)
static_cdn/static_root
static_cdn/static_root/analytics/
static_cdn/static_root/chat/
static_cdn/static_root/favicon.ico
static_cdn/static_root/favicon2.ico
static_cdn/static_root/login-signup-custom-style.css
static_cdn/static_root/main.js
static_cdn/static_root/posts-emoji-picker.js
static_cdn/static_root/style.css

# automatic mac files
**/.DS_Store
.DS_Store
env/.DS_Store
env/lib/.DS_Store
env/lib/python3.11/.DS_Store
env/lib/python3.11/site-packages/.DS_Store
env/lib/python3.11/site-packages/django/.DS_Store
src/.DS_Store
src/api/.DS_Store
src/posts/.DS_Store
