{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


<p>
    <a href="{% url 'admin:index' %}">Go back to home</a>
</p>

<!-- Download the excel file -->

<form action="{% url 'download-xlsx' %}" method="post">

    {% csrf_token %}

    <p>Select the tables you want to download:</p>

    <table>
        <tr>
            <th>Table</th>
            <th>Columns</th>
        </tr>
        <tr>
            <td><label> <input type="checkbox" name="user"> user</label></td>
            <td>user_id, username, first_name, last_name, avatar, bio, date_joined, last_login</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="comments"> comments</label></td>
            <td>comment_id, author_id, article_id, title, content, created, updated</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="likes"> likes</label></td>
            <td>like_id, user_id, comment_id, value</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="dislikes"> dislikes</label></td>
            <td>dislike_id, user_id, comment_id, value</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="articles"> articles</label></td>
            <td>article_id, news_paper_id, title, content, created_at, updated_at</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="newspapers"> newspapers</label></td>
            <td>newspaper_id, name, image</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="usereventlog"> user event log</label></td>
            <td>event_id, user_id, event_type, event_data, timestamp</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="usercontentposition"> user content position</label></td>
            <td>position_id, user_id, object_id, position</td>
        </tr>
        <tr>
            <td><label><input type="checkbox" name="experimentcondition"> experiment condition</label></td>
            <td>condition_id, name, description</td>
        </tr>
      </table>

    <p><input type="submit" value="Download selected tables as .xlsx"></p>

</form>

<hr>
<hr>
<hr>

<!-- Download the database as a file -->

<form action="{% url 'download-database' %}" method="post">

    {% csrf_token %}

    <p>Click here to download the entire database:</p>

    <p><input type="submit" value="Download database as .sqlite3 file"></p>

</form>

<hr>
<hr>
<hr>

<!-- Download the pictures  -->

<form action="{% url 'download-pictures' %}" method="post">

    {% csrf_token %}

    <p>Select the pictures you want to download:</p>
    
    <p><label><input type="checkbox" name="profile_pictures"> profile pictures</label></p>
    <p><label><input type="checkbox" name="articles"> articles</label></p>
    <p><label><input type="checkbox" name="newspapers"> newspapers</label></p>

    <p><input type="submit" value="Download selected pictures as a .zip"></p>

</form>

{% endblock %}
