{% extends "base.html" %}

{% load i18n %}

{% block title %} Abbruch {% endblock %}

{% block content %}
<h1>Experiment abbrechen</h1>

<a href="javascript:history.back()" class="back-link">← Zurück</a>

<p>Sind Sie sich sicher, dass Sie das <strong>Experiment abbrechen</strong> möchten?</p>
<p>Hinweis: Ihr Account und Ihre Daten werden nicht in der Datenerhebung betrachtet. Diese Aktion kann nicht rückgängig gemacht werden.</p>


<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="ui button red">Ja! Ausloggen und Experiment abbrechen!</button>
</form>


{% endblock %}
