{% block title %}
Articles
{% endblock title %}

{% block content %}
<div class="ui">
    <h1>Articles</h1>

    {% if articles %}
        <div class="ui divided items">
            {% for article in articles %}
                <div class="item">
                    <img class="ui avatar image" src="{{ article.image.url }}" alt="{{ article.title }}">
                    <div class="content">
                        <a class="header">{{ article.title }}</a>
                        <div class="meta">
                            <span>Published on: {{ article.created_at|date:"F j, Y" }}</span>
                        </div>
                        <div class="description">
                            <p>{{ article.content|truncatewords:20 }}</p>
                        </div>
                        <div class="extra">
                            <a href="{% url 'articles:detailed-article' article.slug %}" class="ui button">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No articles available.</p>
    {% endif %}
</div>
{% endblock content %}
