{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="styled-article-container">
  <!-- Header mit Bild, Titel und Metadaten -->
  <div class="article-header">
    <div class="article-image">
      <img src="{{ article.image.url }}" alt="{{ article.title }}" />
    </div>
    <h1 class="article-title">{{ article.title }}</h1>
    <p class="article-meta">Published on: {{ article.created_at|date:"F j, Y" }}</p>
  </div>

  <!-- Hauptinhalt des Artikels -->
  <div class="article-content">
    <p>{{ article.content|linebreaks }}</p>
  </div>

  <!-- Footer mit Zurück-Button -->
  <div class="article-footer">
    <a href="{% url 'articles:all-articles' news_paper_id=newspaper.id %}">Back to all articles</a>
    <a href="{% url 'comments:article-comments' news_paper_id=newspaper.id article_id=article.id %}">
        Kommentare ansehen ({{ article.comments.count }})
    </a>
  </div>
</div>
{% endblock content %}
