{% extends 'base.html' %}
{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="article-container">
  {% if article %}
    <h1 class="article-title">{{ article.title }}</h1>

    <div class="article-meta">
      <span>Published on: {{ article.created_at|date:"F j, Y" }}</span>
    </div>

    {% if article.image %}
    <div class="article-image">
      <img
        src="{{ article.image.url }}"
        alt="{{ article.title }}"
        class="img-fluid"
      />
    </div>
    {% endif %}

    <div class="article-content">
      <p>{{ article.content|linebreaks }}</p>
    </div>

    <div class="article-footer">
      <a href="{% url 'articles:detailed-article' article.slug %}" class="ui button">Read More</a>
      <a href="{% url 'articles:all-articles' %}" class="ui button">Back to Articles</a>
      </a>
    </div>
  {% else %}
    <p>Sorry, this article does not exist.</p>
  {% endif %}
</div>
{% endblock content %}
