{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Newspapers {% endblock title %}
{% block content %}
<div class="ui container" style="padding: 20px">
 <h1 class="ui header">Newspapers</h1>

  {% if news_papers %}
  <div class="newspaper-grid">
    {% for newspaper in news_papers %}
    <div class="newspaper-item">
      <div class="image-container">
        <img src="{{ newspaper.image }}" alt="{{ newspaper.name }}" />
      </div>
      <div class="newspaper-content">
        <h2 class="newspaper-title">{{ newspaper.name }}</h2>
        <a href="{% url 'articles:all-articles' news_paper_id=newspaper.id %}" class="ui button read-more">
          Read more
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p style="text-align: center; color: #777">No newspapers available.</p>
  {% endif %}
</div>
{% endblock content %}


{% comment %} LOG ENTRY {% endcomment %}
<script>
    let startTime = Date.now();

    window.addEventListener("beforeunload", function() {
        let duration = Date.now() - startTime;  // Zeit in Millisekunden

        fetch("{% url 'analytics:log_time_spent' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({
                page_type: "newspaper",
                id: null,
                duration_ms: duration
            })
        });
    });
</script>
