{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Newspapers {% endblock title %}
{% block content %}
<div class="ui container" style="padding: 20px">
 <h1 class="ui header">Newspapers</h1>

  {% if news_papers %}
  <div class="newspaper-grid">
    {% for newspaper in news_papers %}
    <div class="newspaper-item">
      <div class="image-container">
        <img src="{{ newspaper.image.url }}" alt="{{ newspaper.name }}" />
      </div>
      <div class="newspaper-content">
        <h2 class="newspaper-title">{{ newspaper.name }}</h2>
        <a href="{% url 'articles:all-articles' news_paper_id=newspaper.id %}" class="ui button read-more">
          Read more
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p style="text-align: center; color: #777">No newspapers available.</p>
  {% endif %}
</div>
{% endblock content %}

